<% include ../partials/header %>
  <% include ../partials/landing-navbar %>
    <div id="wrapper" style="color: white;">
      <div class="section ">
        <div class="row" style="margin-top: 6rem; font-size:1.3rem;">

          <div class="col-lg-1"> </div>
          <div class=" col-lg-8  border rounded  p-lg-3">
              <h1 class="text-capitalize"><u><%= event.title %> </u></h1>
              <div class="float-right bg-primary text-white p-1 rounded text-center">
                <% var ptime = event.posted  %>
                  <%= ptime.getDate() %> /
                    <%= ptime.getMonth() %>
                      <br>
                      <b> <%= ptime.getFullYear() %></b>
              </div>
              <span> Submitted by - <%= event.author.username %></span>
              <div> Event Type : <strong><%= event.EventType %></strong></div>

              <div>Event Timings :
                  <br>

                  <div class="float-left bg-primary text-white p-1 rounded text-center mx-2">
                       <strong><%= event.startTime.slice(0,10) %>
                       <br><%= event.startTime.slice(11,16) %></strong>
                   </div>
                   <div class="float-left bg-primary text-white p-1 rounded text-center mx-2">
                        <strong><%= event.endTime.slice(0,10) %>
                        <br><%= event.endTime.slice(11,16) %></strong>
                    </div>
                    <br><br>

               </div>
              <% if(event.link != ""){ %>
                  <br><br>
              <div class=" border rounded mx-lg-3 p-lg-1 "><strong> Official Link :</strong>
                <p>
                 <a href="<%= event.link %>" target="_blank" style="color:white;"> <%= event.link %> </a>
              </div>
              <% } %>
              <div class=" border rounded m-lg-3 p-lg-1 "><strong> Description :</strong>
                <p>
                  <%= event.breif %>
              </div>

          </div>
          <div class="col-lg-2 border rounded  bg-white " style="color:#006266">
                <h3>  Interested Students
                  <% var pppp= event.interested;

                  var obj = 0 ;
                  pppp.forEach(function(Interesteduser) {
                    // console.log(Interesteduser._id);
                    // console.log(currentUser._id);
                      if(Interesteduser && currentUser && (currentUser._id.toString() == Interesteduser._id.toString()) ){
                        obj= 1;
                        console.log("here1");
                      }
                  });
                  if(currentUser && !obj){ %>
                  <a href="/events/<%= event._id %>/addInterested" class="btn btn-primary">Add me</a>
                    <% } %>
                </h3><hr>
                <ol>
                  <% var pppp= event.interested;
                   pppp.forEach(function(Interesteduser) { if(Interesteduser) { %>
                     <li class="ml-3"><%= Interesteduser.username %> </li>
                  <%} });%>
                  </ol>
          </div>
          <div class="col-lg-1 ">
          </div>
        </div>
      </div>
      <% include ../partials/footer %>
