<% include ../partials/header %>
    <% include ../partials/landing-navbar %>
        <div id="wrapper">
            <div class="section ">
                <div class="container">
                    <h1>All Projects</h1>

                    <div class="row mt-3">
                        <% Projects.forEach(function(project) { %>
                            <div class="col-lg-5 col-sm-10 mt-3">
                                <div class="card" class="">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>
                                    <%= project.title%></strong>
                                    <span class="float-right btn btn-dark btn-sm">
                                     <%- project.type%>
                                    </span>
                                    </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                    <%= project.technology%>

                                    </h6>
                                        <p class="card-text">
                                            <% var projectDesc = project.shortDesc ;
                                    try{
                                        var projectDesc = project.shortDesc.substr(0,100) ;
                                    }catch(e){

                                    }%>
                                                <%= projectDesc  %>...

                                        </p>
                                        <a href="/projects/<%= project._id %>" class="card-link btn btn-info">View</a>
                                        <a href="#" class="btn btn-dark"><i class="fa fa-eye"></i> <%= project.views %> </a>
                                        <span class="float-right">
                                    By <%= project.author.username%>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1"></div>
                            <% });%>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
