<% include ../partials/header %>
    <% include ../partials/landing-navbar %>
        <div id="wrapper" style="color: white;">
            <div class="section ">
                <div class=" border rounded mx-lg-5 p-lg-3 " style="margin-top: 6rem; font-size:1.3rem;">
                    <h1 class="text-capitalize"><u><%= project.title %> </u></h1>
                    <span class="float-right"> Submitted by - <%= project.author.username %></span>
                    <div> Project Type : <strong><%= project.type %></strong></div>
                    <div> Technology to be used  : <strong><%= project.technology %></strong></div>
                    <div class=" border rounded mx-lg-3 p-lg-1 "> Brief :
                      <p>
                        <%= project.shortDesc %>
                    </div>
                    <div class=" border rounded m-lg-3 p-lg-1 "> Description :
                      <p>
                        <%= project.body %>
                    </div>
                    <div class="float-right bg-primary text-white p-1 rounded text-center">
                        <% var ptime = project.posted  %>
                        <%= ptime.getDate() %> /
                        <%= ptime.getMonth() %>
                        <br>
                        <b> <%= ptime.getFullYear() %></b>
                    </div>
                </div>
        </div>
<% include ../partials/footer %>
